# spanish keymap
setxkbmap -layout es &

# wallpaper
nitrogen --restore &

# notification system
dunst &

# scripts
/home/josema/scripts/battery.sh &

# touchpad settings
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 &
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1 &
