export PATH=$HOME/.local/bin:$PATH

# spanish keymap
setxkbmap es&

# wallpaper
nitrogen --restore &

# notifications
dunst &

# scripts
/home/josema/scripts/battery.sh &

# touchpad settings
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 &
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1 &
